#!/bin/bash
#SBATCH --job-name={{ job_name }}
#SBATCH --account={{ account }}
#SBATCH --partition={{ partition }}
#SBATCH --time={{ time }}
#SBATCH --nodes=1
#SBATCH --ntasks-per-node=1
#SBATCH --cpus-per-task={{ cpus }}
#SBATCH --gpus-per-node={{ num_gpus }}
#SBATCH --mem={{ memory }}

export SINGULARITYENV_WANDB_MODE="{{ wandb_mode }}"

# Load necessary modules
{% if modules %}
module load {{ modules | join(' ') }}
{% endif %}

CONTAINER="{{ container }}"
HOST_TEST_DIR="{{ host_test_dir }}"
WORKDIR="{{ workdir }}"
CMD="{{ cmd }}"

# Run the experiment command
singularity exec --nv \
    --bind ${HOST_TEST_DIR}:${WORKDIR} \
    "$CONTAINER" sh -c "
        cd ${WORKDIR} &&
        $CMD
"
